:root {
  --clr-cyan-50: #ecfeff;
  --clr-cyan-100: #cffafe;
  --clr-cyan-200: #a5f3fc;
  --clr-cyan-300: #67e8f9;
  --clr-cyan-400: #22d3ee;
  --clr-cyan-500: #06b6d4;
  --clr-cyan-600: #0891b2;
  --clr-cyan-700: #0e7490;
  --clr-cyan-800: #155e75;
  --clr-cyan-900: #164e63;
  --clr-cyan-950: #083344;
}

html {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 600;
  font-size: 0.8rem;
}

button {
  border: none;
  padding: 0.5em 1em;
  border-radius: 5px;
  cursor: pointer;
}

ul {
  list-style-type: none;
  padding: 0;
}

a {
  font: inherit;
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: var(--clr-cyan-500);
  text-decoration: underline;
}

.icon-sm {
  /* modern css reset sets img to a block element */
  width: 25px;
}

.icon-md {
  width: 50px;
}

.fz-sm {
  font-size: 1rem;
}

.fz-md {
  font-size: 1.3rem;
}

.fz-lg {
  font-size: 1.75rem;
}

input {
  border-radius: 5px;
  border: 1px solid var(--clr-cyan-300);
}

.wrapper {
  max-width: 1440px;
  height: 100vh;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
}

/* Main components layout */
.header {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  background-color: var(--clr-cyan-50);
  grid-area: 1 / 4 / 4 / 13;
  z-index: 2;
  padding: 0 2rem;
  box-shadow: 0 9px 15px -15px var(--clr-cyan-400);
}

.sidebar {
  background-color: var(--clr-cyan-600);
  grid-area: 1 / 1 / 13 / 4;
  z-index: 3;
}

.main {
  background-color: var(--clr-cyan-100);
  grid-area: 3 / 4 / 13 / 13;
}

/* Sub components */
.header .upper-bar,
.header .lower-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .search {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.header .search input {
  width: 400px;
}

.header .upper-bar-profile,
.header .lower-bar-profile {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.header .lower-bar-actions {
  display: flex;
  gap: 1rem;
}

.header .lower-bar-actions .btn {
  background: var(--clr-cyan-300);
  color: var(--clr-cyan-950);
}

/* SIDEBAR */
.sidebar {
  padding: 2rem 3rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  font-size: 1.2rem;
  color: var(--clr-cyan-50);
}

.sidebar-heading {
  display: flex;
  align-items: center;
  gap: 1rem;
  transform: translateX(-0.7rem);
}

.sidebar-nav {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.sidebar-nav .main-nav,
.sidebar-nav .sub-nav {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.sidebar-nav .link {
  display: flex;
  gap: 2rem;
}
